@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<meta http-equiv="Refresh" content="1" />*@
<head runat="server">
    <script runat="server">
                        protected void Page_Load(object sender, EventArgs e)
            {
                OriginalTime.Text = DateTime.Now.ToLongTimeString();
            }

                        protected void Timer1_Tick(object sender, EventArgs e)
            {
                StockPrice.Text = GetStockPrice();
                TimeOfPrice.Text = DateTime.Now.ToLongTimeString();
            }

                        private string GetStockPrice()
            {
                double randomStockPrice = 50 + new Random().NextDouble();
                return randomStockPrice.ToString("C");
            }
    </script>
</head>
<asp:ScriptManager ID="ScriptManager1" runat="server" />
<asp:Timer ID="Timer1" OnTick="Timer1_Tick" runat="server" Interval="10000" />

<style>
    body {
        background-color: rgb(@Model.RGBRed, @Model.RGBGreen, @Model.RGBBlue);
         }
</style>



<div class="text-center" style="mix-blend-mode: difference" style="background-color:rgb(@Model.RGBRed, @Model.RGBGreen, @Model.RGBBlue)">
    <h1 class="display-4">Welcome To The World's Worst Clocks @Model.TimeColour @Model.piString</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
@*<button onclick="buttonClickHandler()">
        Stop watching location
    </button>*@