@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<meta http-equiv="Refresh" content="1" />
<style>
    body {
        background-color: rgb(@Model.RGBRed, @Model.RGBGreen, @Model.RGBBlue);
         }
</style>

<div class="text-center" style="background-color:rgb(@Model.RGBRed, @Model.RGBGreen, @Model.RGBBlue)">
    <h1 class="display-4">Welcome To The World's Worst Clocks @Model.TimeColour @Model.pi</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
