@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<meta http-equiv="Refresh" content="1" />


<div class="text-center" style="background-color:rgb(@Model.RGBRed, @Model.RGBGreen, @Model.RGBBlue)">
    <h1 class="display-4">Welcome To The @Model.RGBRed World's Worst Clocks @Model.TimeColour</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
